@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Gugi";
  -webkit-animation: fadeinout 1.5s linear forwards;
  animation: fadeinout 1.5s linear forwards;
}

h1 {
  font-size: 24px;
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
