@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Source+Code+Pro&display=swap");

.container {
  width: 100%;
  height: calc(100vh - 90px);
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.subContainer {
  border: 1px solid #17c3eb;
  width: 100%;
  height: 100%;
  background-color: #123b43;
  box-shadow: 15px black;
  padding: 10px;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.rightSection {
  width: 95%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 780px) {
  .subContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .rightSection {
    width: 100%;
    height: 50%;
  }
}

.leftSection {
  width: 50%;
  min-width: 275px;
  min-height: 200px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.myName h1 {
  font-size: 20px;
}

.myName h4 {
  font-size: smaller;
}

.myName {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: row;
  color: #17c3eb;
  font-family: "Gugi";
}

.navbar {
  color: #17c3eb;
  font-family: "Gugi";
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin-top: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  max-width: 90%;
  padding: 0;
  margin-top: 0;
  margin: auto;
}

.navbar ul li {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #17c3eb;
  box-shadow: inset 0 0 32px 0 #17c3eb, 0 0 32px 0 #17c3eb;
  text-shadow: 0 0 8px hsl(0 0% 100% / 0.3), 0 0 32px;
  position: relative;
  border-radius: 3px;
}

.navbar ul li:hover::before,
.navbar ul li:hover::after {
  opacity: 1;
}

.navbar ul li:hover {
  color: black;
  text-shadow: none;
  background-color: #17c3eb;
  cursor: pointer;
}

@media (max-width: 780px) {
  .leftSection {
    width: 100%;
    height: 50%;
    justify-content: space-around;
  }

  .navbar {
    font-size: small;
  }
}

.command-line {
  border: 1px solid #17c3eb;
  background-color: black;
  color: white;
  font-family: "Source Code Pro", monospace;
  padding: 10px;
  overflow-y: auto;
  min-height: 15vh;
  height: auto;
  white-space: nowrap;
  width: 20em;
  max-width: 90%;
  margin: 0;
  animation: typeWriter 2s steps(40) forwards blinkCursor 1s infinite;
}

.indentation {
  display: inline-block;
  width: 1em;
}

.rightSectionContainer {
  width: 95%;
  height: 95%;
  margin: auto;
  border: 1px solid #17c3eb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 780px) {
  .subContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.cursor {
  font-size: 1em;
  animation: blinkCursor 1s infinite;
  display: inline-block;
  vertical-align: text-bottom;
}

@keyframes blinkCursor {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes blinkCursor {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #17c3eb;
  }
}

@keyframes typeWriter {
  from {
    width: 0;
  }
  to {
    width: 20em;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
